@import '~normalize.css';
@import '~bootstrap';
@import 'fonts';
@import 'variables';
@import 'pagination';


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}


body {
    font-family: $font_1, sans-serif;
    font-size: 16px;
    -webkit-display: flex;
    -o-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: $backgroun-body;
    &.no-scroll{
        overflow: hidden;
    }
}

.container {
    max-width: 160rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    margin: 0 auto;
}

