$font_1: 'Roboto';
$font_2: 'RobotoBold';
$backgroun-body: #F6F1F1;

//media queries
$desktop: 1200px;
$laptop: 960px;
$tablet: 768px;
$mobile: 480px;
$mobile-landscape: 850px;
$mobile-sm: 390px;
$mobile-sm-landscape: 650px;